@import url(static/css/global.css);

/* ============================================== */
/* ============================================== */
/* IMPORT WEB FONTS */
/* ============================================== */
/* ============================================== */

/* ============================================== */
/* WEB FONT >> Intervogue Soft */  /* 👻👻👻👻 Update this 👻👻👻👻 */
/* ============================================== */

/* Intervogue Soft - Bold */ /* 👻👻👻👻 Update this 👻👻👻👻 */
@font-face {
	font-family: 'intervoguesoft-bold';
	src: url('static/fonts/intervoguesoft-bold.woff2') format('woff2'),
	     url('static/fonts/intervoguesoft-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ============================================== */
/* ============================================== */
/* PROJECT STYLES */
/* ============================================== */
/* ============================================== */

/* 👻👻👻👻 Remove this 👻👻👻👻 */
.hello {
    font-family: 'intervoguesoft-bold', sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* 👻👻👻👻 Remove this 👻👻👻👻 */
.croc {
    max-width: 900px;
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ============================================== */
/* FIRST SECTION */
/* ============================================== */

/* Single item */